@page
@model oneworldcert.Pages.Candidates.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Candidate[0].OwnerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidate[0].LName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidate[0].Fname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidate[0].MInit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidate[0].PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Candidate) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MInit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
